*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper{
    padding: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainContent{
    display: flex;
    height: 60%;
}

.leftMain{
    display: flex;
    width: 50%;
    background-color: #e3c24d;
}

.leftMainWrapper{
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    border: 2px solid blue;
    text-align: start;
}

.hat{
    height: 25%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid red;
}

.ingredientBlock{
    height: 50%;
    font-size: 18px;
    border: 2px solid red;
}

.basics{
    height: 25%;
}

.meatIngredients{
    height: 25%;
}


.nonMeatIngredients{
    height: 25%;
}

.sauce{
    height: 25%;
}

.price{
    border: 2px solid red;
    height: 25%;
    font-size: 18px;
    font-weight: bold;
}
.rightMain{
    display: flex;
    width: 50%;
    background-color: #fae49b;
}

.rightMainWrapper {
}
.pizzaImg {
    width: 100px;
    height: 100px;
}
.orderButton {
}

.footer{
    height: 40%;
    background-color: #fbd669;
    position: relative;
}

#footerWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 19px;
    font-family: sans-serif;
    line-height: 30px;
    list-style-type: none;
    
}
#column_name{
    font-size: larger;
    font-weight: bold;
    line-height: 50px;
}


